In [1]:
import pandas as pd
import codecs

In [2]:
ratopati = pd.read_csv('./ratopati/ratopati_news_final.csv')
# onlinekhabar = pd.read_csv('./onlinekhabar/onlinekhabar_news_final.csv')
# setopati = pd.read_csv('./setopati/setopati_news_final.csv')
ujyaalo = pd.read_csv('./ujyaaloonline/ujyaalo_news_final.csv')
techpana = pd.read_csv('./techpana/techpana_news_final.csv')
nepalikhabar = pd.read_csv('./nepalikhabar/nepalikhabar_news_final.csv')
ekagaj = pd.read_csv('./ekagaj/ekagaj_news_final.csv')

In [3]:
techpana["category"].value_counts()

category
विज्ञान र प्रविधि    21995
Name: count, dtype: int64

In [4]:
ratopati["category"].value_counts()

category
देश/प्रदेश        20585
मनोरञ्जन          13526
अर्थ / वाणिज्य     8357
खेलकुद             6439
विश्व              6009
शिक्षा             1764
Name: count, dtype: int64

In [5]:
ujyaalo["category"].value_counts()

category
समाज              10182
राजनीति            6506
अर्थ / वाणिज्य     5591
मनोरञ्जन           1605
Name: count, dtype: int64

In [6]:
nepalikhabar["category"].value_counts()

category
समाज              6444
खेलकुद            4598
अर्थ / वाणिज्य    3985
राजनीति           3237
Name: count, dtype: int64

In [7]:
ekagaj["category"].value_counts()

category
राजनीति       11037
देश/प्रदेश     7233
Name: count, dtype: int64

In [8]:
annapurna = pd.read_csv('./annapurna/annapurna_news_final.csv')
dcnepal = pd.read_csv('./dcnepal/dcnepal_news_final.csv')
ekantipur = pd.read_csv('./ekantipur/ekantipur_news_final.csv')
gorkhapatra = pd.read_csv('./gorkhapatra/gorkhapatra_news_final.csv')
imagekhabar = pd.read_csv('./imagekhabar/imagekhabar_news_final.csv')
nagarik = pd.read_csv('./nagarik/nagarik_news_final.csv')

In [9]:
annapurna["category"].value_counts()

category
समाज              11638
राजनीति            9690
स्वास्थ्य          8394
विश्व              6387
खेलकुद             5542
मनोरञ्जन           4771
अर्थ / वाणिज्य     4375
Name: count, dtype: int64

In [10]:
dcnepal["category"].value_counts()

category
देश/प्रदेश        9013
समाज              7861
राजनीति           6767
खेलकुद            5857
विश्व             5846
मनोरञ्जन          3576
अर्थ / वाणिज्य    3191
Name: count, dtype: int64

In [11]:
ekantipur["category"].value_counts()

category
मनोरञ्जन          5404
विश्व             5006
खेलकुद            4971
अर्थ / वाणिज्य    4049
Name: count, dtype: int64

In [12]:
gorkhapatra["category"].value_counts()

category
देश/प्रदेश           6987
राजनीति              6127
अर्थ / वाणिज्य       2491
खेलकुद               2416
स्वास्थ्य            2265
मनोरञ्जन             1666
शिक्षा               1113
विज्ञान र प्रविधि     285
Name: count, dtype: int64

In [13]:
imagekhabar["category"].value_counts()

category
देश/प्रदेश        7981
समाज              7281
राजनीति           7110
विश्व             4961
स्वास्थ्य         4622
खेलकुद            4534
अर्थ / वाणिज्य    3989
मनोरञ्जन          3630
शिक्षा             939
Name: count, dtype: int64

In [14]:
nagarik["category"].value_counts()

category
विश्व                9608
राजनीति              9501
खेलकुद               8010
स्वास्थ्य            7111
अर्थ / वाणिज्य       6992
समाज                 6801
शिक्षा               2939
विज्ञान र प्रविधि     850
Name: count, dtype: int64

In [15]:
new = pd.concat([annapurna, dcnepal, ekantipur, gorkhapatra, imagekhabar, nagarik, ratopati, techpana, ujyaalo, nepalikhabar, ekagaj], axis=0)

In [16]:
len(new["title"])

371640

In [17]:
new["category"].value_counts()

category
राजनीति              59975
देश/प्रदेश           51799
समाज                 50207
अर्थ / वाणिज्य       43020
खेलकुद               42367
विश्व                37817
मनोरञ्जन             34178
विज्ञान र प्रविधि    23130
स्वास्थ्य            22392
शिक्षा                6755
Name: count, dtype: int64

In [18]:
new["category"].unique()

array(['समाज', 'राजनीति', 'मनोरञ्जन', 'स्वास्थ्य', 'विश्व', 'खेलकुद',
       'अर्थ / वाणिज्य', 'देश/प्रदेश', 'विज्ञान र प्रविधि', 'शिक्षा'],
      dtype=object)

In [19]:
new.isnull().sum()

title                2
news                 2
category             0
published_date    1789
dtype: int64

In [20]:
new.head()

,title,news,category,published_date
0,एमालेको प्रदेश प्रतिनिधिमा उदयपुरबाट सर्वसम्मत,उदयपुर : नेकपा एमाले कोशी प्रदेश कमिटीको प्रथम...,समाज,"असोज ७, २०८० आइतबार १७:४३:४६"
1,गौशालाबाट लुटियो ६ लाख ५० हजार रुपैयाँ,महोत्तरी : गौशाला नगरपालिका-११ भरतपुरका शम्भु ...,समाज,"असोज ७, २०८० आइतबार १७:२३:५८"
2,"आगलागीमा ४ करोड बढीको क्षति, पीडितलाई तत्काल र...",मुगु : जिल्ला सदरमुकाम गमगढीमा शुक्रबार राति ...,समाज,"असोज ७, २०८० आइतबार १७:८:३९"
3,तलेजुको दर्शन गर्न पूर्वराजा ज्ञानेन्द्र शाह भ...,भक्तपुर : पूर्वराजा ज्ञानेन्द्र शाह भक्तपुर आए...,समाज,"असोज ७, २०८० आइतबार १६:५०:२१"
4,वीरगन्जको खेतबाट ८ हजार ९१५ पिस लागूऔषध बरामद,वीरगन्ज : वीरगन्ज महानगरपालिका-२२ मनियारीस्थि...,समाज,"असोज ७, २०८० आइतबार १६:४४:२५"

In [21]:
new.describe()

,title,news,category,published_date
count,371638,371638,371640,369851
unique,356717,365709,10,304528
top,यस्तो छ आजको विदेशी मुद्राको विनिमय दर,काठमाडौं ।,राजनीति,"१७ फागुन २०७९, बुधबार"
freq,342,31,59975,101