In [8]:
import pandas as pd
import codecs

In [3]:
with codecs.open('gorkhapatra_news.csv', 'r', 'utf-8') as file:
    lines = pd.Series(file.readlines())
    news_title = pd.Series([str(title).replace("\n", "") for title in lines[0::4]], name='title')
    news_detail = pd.Series([str(detail).replace("\n", "") for detail in lines[1::4]], name='news')
    news_category = pd.Series([str(category).replace("\n", "") for category in lines[2::4]], name='category')
    news_published_date = pd.Series([str(published_date).replace("\n", "") for published_date in lines[3::4]], name='published_date')

In [4]:
df = pd.concat([news_title, news_detail, news_category, news_published_date],axis=1)

In [5]:
df.head()

,title,news,category,published_date
0,एक ट्रक युरिया मल मिलेमतोमा बाटोबाटै गायब,काठमाडौँ — रौतहटको चन्द्रनिगाहपुरस्थित कृषि सा...,अर्थ / वाणिज्य,"श्रावण ३२, २०८०"
1,मर्जमा जाने लघुवित्तलाई राष्ट्र बैंकले लाभांश ...,काठमाडौँ — नेपाल राष्ट्र बैंकले मर्जमा जाने लघ...,अर्थ / वाणिज्य,"श्रावण ३२, २०८०"
2,परिणाममुखी हुनेगरी सोह्रौं योजना बनाउन आयोगलाई...,काठमाडौँ — नेपाल चेम्बर अफ कमर्सले सोह्रौं योज...,अर्थ / वाणिज्य,"श्रावण ३२, २०८०"
3,पानीको जार र बोतलमा तोकेभन्दा बढी मूल्य नलिन आ...,काठमाडौँ — नेपाल बोटल वाटर उद्योग संघले खानेपा...,अर्थ / वाणिज्य,"श्रावण ३२, २०८०"
4,"८ अंक बढ्यो नेप्से, कारोबार रकम घट्यो",काठमाडौँ — बिहीबार सेयर बजारको परिसूचक नेप्से ...,अर्थ / वाणिज्य,"श्रावण ३२, २०८०"

In [ ]:
df.to_csv('ekantipur_news_final.csv', index=None)

In [9]:
def join_old_new():
    df = pd.read_csv('ratopati_news_final2.csv')
    df_old = pd.read_csv('ratopati_news_final.csv')
    new = pd.concat([df, df_old], axis=0)
    return new

In [10]:
new = join_old_new()
len(new["title"])

5636

In [7]:
new.to_csv('ratopati_news_final.csv', index=None)

In [ ]:
def remove_duplicates():
    titles = []
    with codecs.open('setopati_news_titles.csv', 'r', 'utf-8') as file:
        titles += file.readlines()
    series_titles = pd.Series(titles)
    links = []
    with codecs.open('setopati_news_links.csv', 'r', 'utf-8') as file:
        links += file.readlines()
    series_links = pd.Series(links)
    ddff = pd.DataFrame({"title": series_titles, "link": series_links})
    ddff = ddff.drop_duplicates(subset='title')
    titless = ddff["title"].array 
    linkss = ddff["link"].array 
    with codecs.open('setopati_news_titles.csv', 'w', 'utf-8') as file:
        file.write("".join(titless))
    with codecs.open('setopati_news_links.csv', 'w', 'utf-8') as file:
        file.write("".join(linkss))
remove_duplicates()